<td class="cart-item-description" data-hook="cart_item_description">

STNHAOESUNTHAEOUSNTAEHUSNAOTEUHAOESNTUHAOSENUTHAOESNUTH

 <h4><%= link_to variant.product.name, product_path(variant.product) %></h4>
  <% if line_item.product.assembly? %>
    <ul class='assembly_parts'>
      <li>(1 * <%= line_item.variant.display_amount.to_html %>) <%= variant.options_text %>
        <%= line_item_description(variant) %>
      </li>
      <% line_item.line_item_options.each do |o| %>
      <li>(<%= o.quantity %> * <%= o.variant.display_amount.to_html %>) <%= link_to o.variant.name, product_path(o.variant.product) %></li>
      <% end %>
    </ul>

  <% else %>
    <%= variant.options_text %>
    <% if @order.insufficient_stock_lines.include? line_item %>
      <span class="out-of-stock"><%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br /></span>
    <% end %>
    <%= line_item_description(variant) %>
  <% end %>

</td>
