<% if @product.isa_product? %>
<div class="twelve columns alpha omega">
  <fieldset>
    <legend align="center"><%= Spree.t(:options) %></legend>

    <div class="six columns alpha ">
      <%= f.label :individual_sale, t("individual_sale")%>
      <%= f.check_box(:individual_sale) %>
    </div>
    <div class="six columns omega ">
      <%= f.label :can_be_part, t("can_be_part")%>
      <%= f.check_box(:can_be_part) %>
    </div>

    <% if @product.assembly? %>
      <% content_for :head do %>
        <script type="text/javascript">
          jQuery(document).ready(function(){
              $("input[id='product_on_hand']").attr('disabled',true).parent().hide();
          });
        </script>
      <% end %>
    <% end %>
  </fieldset>
</div>
<% end %>
