<table class="index">
  <thead>
  	<tr>
  		<th><%= t("part") %></th>
  		<th><%= t("combination") %></th>
      <th><%= t("qty") %></th>
      <% if item.can_have_optional_parts? %>
        <th><%= t("optional") %></th>
      <% end %>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% parts_for_display.each do |part| %>
      <tr id="<%= dom_id(part, :sel)%>">
        <td><%= link_to part.product.try(:name), edit_admin_product_path(part.product) %></td>
        <% combination = variant_options( part ) %>
        <% if !combination.empty? %>
            <td><%= link_to combination, edit_admin_product_variant_path(part.product,part) %></td>
        <% else %>
            <td><%= ( t :none ) %></td>
        <% end %>
        <td><%= text_field_tag :count, part.count_part %></td>
        <% if item.can_have_optional_parts? %>
          <td><%= check_box_tag( 'part_optional', part.optional_part,  part.optional_part ) %></td>
        <% end %>

  	    <td class="actions">
          <%= image_tag "spinner.gif", :style => "display:none", :class => "spinner" %>
          <%= link_to(icon('edit') + ' ' + t('update'),
                      set_count_admin_item_part_url(@item, part),
                      :class => "set_count_admin_item_part_link") %>
  	    </td>        
      </tr>
    <% end %>
    <% if parts_for_display.empty? %>
     <tr><td colspan="5"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag("subscribe_item_part_links();") if request.xhr? %>
