<table class="index">
  <thead>
  	<tr>
  		<th><%= t("part") %></th>
  		<th><%= t("combination") %></th>
  		<th><%= t("qty") %></th>
  	  <th><%= t("optional") %></th>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% parts_for_display.each do |part| %>
      <tr id="<%= dom_id(part, :sel)%>">
        <td><%= part.product.name %></td>
        <td><%= variant_options part %></td>
        <td><%= text_field_tag :count, part.count_part %></td>
        <td><%= check_box_tag( 'part_removable', part.removable_part,  part.removable_part ) %></td>
  	    <td class="actions">
          <%= image_tag "spinner.gif", :style => "display:none", :class => "spinner" %>
          <%= link_to(icon('edit') + ' ' + t('update'),
                      set_count_admin_item_part_url(@item, part),
                      :class => "set_count_admin_item_part_link") %>
  	    </td>        
      </tr>
    <% end %>
    <% if parts_for_display.empty? %>
     <tr><td colspan="5"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag("subscribe_item_part_links();") if request.xhr? %>
