<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Parts"} %>
<fieldset>
  <% if @item.class == Spree::Variant %>
    <legend align="center"><%= @item.product.name + " ( " + @item.options_text + " ) kit parts" %></legend>
  <% else %>
    <legend align="center"><%= Spree.t(:kit_parts)%></legend>
  <% end %>

  <div id="item_parts">
    <%= render :partial => "parts_table", :locals => {:parts_for_display => @parts_for_display, :item => @item } %>
  </div>

  <%= form_tag('#') do %>
    <label><%= t('search') %>:</label>
    <input id="searchtext" size="25">
  <% end %>

  <br/>
  <div id="search_hits"></div>


</fieldset>

<%= javascript_tag do %>

  function search_for_parts(){
    $.ajax({
     data: {q: $("#searchtext").val() }, 
     dataType: 'html',
     success: function(request){
       jQuery('#search_hits').html(request);
       $('#search_hits').show();
     }, 
     type: 'POST', 
     url: '<%= available_admin_item_parts_url(@item) %>'
    });    
  }

  $("#searchtext").keypress(function (e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
      search_for_parts();
      return false;
    } else {
       return true;
    }
  });

  $("#searchtext").delayedObserver(function(element, value) {
    search_for_parts();
  }, 0.75);

  function subscribe_item_part_links()
  {
    $("a.set_count_admin_item_part_link").click(function(){
    params = { 
      part_optional : $('input:last:checked', $(this).parent().parent()).length > 0 ? 'true' : 'false',
      part_count :  $("input", $(this).parent().parent()).val() 
    };
      return make_post_request($(this), params);
    });
    
  }

  function make_post_request(link, post_params)
  {
    spinner = $("img.spinner", link.parent())
    spinner.show();
    $.post(link.attr("href"), post_params,
      function (data, textStatus) { spinner.hide(); },
      "script");

    return false;
  }

  subscribe_item_part_links();
<% end -%>
